$black: #231326;
$black--light: #5E5360;

$blue--light: #F6F9FC;
$blue--lighter: #F2F3FB;


$bgc: #F4F4F4;

$blue: #052A45;
$orange: linear-gradient(98.48deg, #F44A00 0%, #FF6B00 70.31%);
$red: #f44900;
$gray: #5c6b71;

.c-blue{
    color: $blue;
}

.c-gray, p{
    color: $gray;
}
